/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* some materialize body styles */
.icon-block .section .container .row{
    padding: 0!important;
}
.players{
    padding-left: 30px;
}
.icon-block .material-icons{
	font-size: inherit;
}