<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Telestrations</title>
        
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
        <link rel="manifest" href="assets/images/site.webmanifest">
        <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <!-- custom scrollbar SOURCE: http://manos.malihu.gr/jquery-custom-content-scroller/ -->
        <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.css"/>
        
        <!-- materialize.css-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- dependency: React.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
        
        <!-- Literally Canvas SOURCE : http://literallycanvas.com/index.html open source drawing board code -->
        <script src="assets/js/literallycanvas.js"></script>
        <link href="assets/css/literallycanvas.css" rel="stylesheet">
    </head>
    
    <body>
        <!-- script at top -->
        <script>
            // convert canvas to SVG
            function toSVG(){
                var svgString = lc.getSVGString();
                return svgString;
            }
            
            // submit drawing button
            function submit(){
                var svgString = toSVG();
                var obj = {"svg": svgString, 
                           "guess": ""};
                var req = new XMLHttpRequest();
                req.open('POST', '/submit', true);
                req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                req.send(JSON.stringify(obj));
                return true;
            }
        </script>
        <!-- header -->
        <nav class="customHeader" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">Telestrations</a>
            </div>
        </nav>
        
        <!-- top info -->
        <div class="section no-pad-bot no-pad-top" id="index-banner">
            <div class="container">
                <h4 class="header center customTitle">Your word: </h4>
            </div>
        </div>
        
        <!-- center info -->
        <div class="container section row">
            <!-- drawing board block -->
            <div class="col s12 m12">
                <div class="icon-block">
                    <div id="drawing" class="my-drawing"></div>
                    <div class="row center no-pad-bot">
                        <a href="#modal1" class="indigo darken-1 waves-effect waves-light btn modal-trigger" onclick="return submit();">Submit Drawing</a>
                    </div>
                </div>
            </div>
            <!-- waiting for players modal -->
            <div id="modal1" class="modal">
                <div class="modal-content grey-text text-darken-2">
                    <h4>Waiting on players:</h4>
                    <p id="players"></p>
                </div>
            </div>
        </div>
        
         <!-- materialize script -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="assets/js/materialize.js"></script>
        <script src="assets/js/init.js"></script>
        
        <!-- custom scrollbar script -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="assets/js/jquery.mCustomScrollbar.js"></script>
        
        <!-- other js -->
        <script>
            // canvas code
            // initialize canvas
            var lc = LC.init(
                document.getElementsByClassName('my-drawing')[0],
                {imageURLPrefix: 'assets/images'}
            );
            
            // refresh the waiting on player list every half second
            setInterval(function refreshing(){
                $.ajax({
                    type: "GET",
                    url: "/getPlayers",
                    dataType: "json"
                })
                .success(function(data){
                    console.log(data);
                    var playersPPG = document.getElementById('players');
                    playersPPG.innerHTML = "";
                    var count = 0;
                    for(var i = 0; i < data.length; i++){
                        if(data[i].Ready == false){ 
                            playersPPG.innerHTML += data[i].Name + "<br>";
                            count++;
                        }
                    }
                    if(count == 0){
                        window.location.href = "/drawPage";
                    }
                })          
            }, 500);
            
            // make changes based on user
            // colors based on user
            var obj = {
                1: "#ef9a9a",
                2: "#f48fb1",
                3: "#ce93d8",
                4: "#b39ddb",
                5: "#9fa8da",
                6: "#90caf9",
                7: "#80deea",
                8: "#80cbc4",
                9: "#a5d6a7",
                10: "#fff59d",
                11: "#ffcc80",
                12: "#bcaaa4"
            };
            // set colors
            $(document).ready(function(){
                document.getElementsByClassName('customHeader')[0].style.backgroundColor = obj[{{index . "id"}}];
                document.getElementsByClassName('customTitle')[0].style.color = obj[{{index . "id"}}];
                document.getElementsByClassName('customButton')[0].style.backgroundColor = obj[{{index . "id"}}];
            });
        </script>
    </body> 
</html>