<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Telestrations</title>
        
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
        <link rel="manifest" href="assets/images/site.webmanifest">
        <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <!-- materialize.css-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- dependency: React.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
        
        <!-- Literally Canvas SOURCE : http://literallycanvas.com/index.html open source drawing board code -->
        <script src="assets/js/literallycanvas.js"></script>
        <link href="assets/css/literallycanvas.css" rel="stylesheet">
    </head>
    
    <body>
        <!-- header -->
        <nav class="indigo lighten-2" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">Telestrations</a>
            </div>
        </nav>
        
        <!-- center info -->
        <div class="container center" style="padding-top: 40px;">
            <div class="row center">
                <form class="col s12 m12 center" onsubmit="login();">
                    <div class="row center">
                        <div class="input-field col s6">
                            <input class="validate" placeholder="Name" id="input_text" type="text" data-length="24" required="" maxlength="24" aria-required="true">
                            <label for="input_text" data-error="wrong" data-success="right">Welcome! Please enter a name:</label>
                            <button class="btn waves-effect waves-light deep-purple darken-1" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
         <!-- materialize script -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="assets/js/materialize.js"></script>
        <script src="assets/js/init.js"></script>

        <!-- other js -->
        <script>
            // login
            function login(){
                var name = $('#input_text').val();
                var obj = {"name": name};
                var req = new XMLHttpRequest();
                req.open('POST', '/addUser', true);
                req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                req.send(JSON.stringify(obj));
            }
        </script>
    </body> 
</html>